# Defaults when arguments omit remote / base branch
GIT_REMOTE=origin
GIT_BASE_BRANCH=main

# Pull request / merge request creation (use one or both)
GITHUB_TOKEN=
GITLAB_TOKEN=
# For self-hosted GitLab, e.g. https://gitlab.mycompany.com
GITLAB_BASE_URL=https://gitlab.com
